INV_MVC/Connected Services/WsConsulta/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost.com/">
      <s:element name="GetProductos">
        <s:complexType />
      </s:element>
      <s:element name="GetProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductosResult" type="tns:ArrayOfListarProductos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListarProductos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListarProductos" nillable="true" type="tns:ListarProductos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListarProductos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesProducto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesUnidades" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Inventario_Min" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="precio_in" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precio_out" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductosSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductos" />
  </wsdl:message>
  <wsdl:message name="GetProductosSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="GetProductos">
      <wsdl:input message="tns:GetProductosSoapIn" />
      <wsdl:output message="tns:GetProductosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://localhost.com/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductos">
      <soap12:operation soapAction="http://localhost.com/GetProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="http://localhost/swuni/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="http://localhost/swuni/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>